.about-wrapper {
    padding: 0;
    // border: 1px dashed black;
    .about-me-col {
        border: 1px dashed pink;
        display: grid;
        align-items: center;
        .about-me {
            border: 1px dashed lightblue;
            display: block;
            justify-content: center;
        }
    }
    .playlist {
        border: 1px dashed lightblue;
    }
}