.borderShadow, .main-container .section-1 .intro-wrapper .intro-row, .main-container .section-1 .intro-wrapper .intro-row .left-column .theme-wrapper .theme-dot {
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Russo One", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p,
li,
span,
label,
input,
textarea {
  color: #4b5156;
  font-family: "Roboto Mono", monospace;
}

a {
  color: #17a2b8;
}

.main-row {
  margin: 0 auto;
}

.main-container {
  padding: 0;
}

.main-container .section-1 {
  background-color: rgba(75, 56, 76, 0.7);
  border-bottom: 1px solid #c1c1c1;
}

.main-container .section-1 .greeting-wrapper .greeting-row {
  align-content: center;
  padding: 2rem;
}

.main-container .section-1 .greeting-wrapper .greeting-row .greeting-col {
  text-align: center;
}

.main-container .section-1 .greeting-wrapper .greeting-row .greeting-col .name {
  font-family: "Indie Flower", cursive;
  padding: 0;
  font-size: 6.5rem;
  color: #A6BE47;
}

.main-container .section-1 .greeting-wrapper .greeting-row .greeting-col .subtitle {
  font-family: "Indie Flower", cursive;
}

.main-container .section-1 .intro-wrapper {
  background-image: url("../../assets/JS.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  padding: 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #c1c1c1;
}

.main-container .section-1 .intro-wrapper .intro-row {
  background-color: rgba(162, 172, 171, 0.1);
}

.main-container .section-1 .intro-wrapper .intro-row .nav-column {
  min-height: 3em;
  padding: 0;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column,
.main-container .section-1 .intro-wrapper .intro-row .right-column {
  min-height: 30em;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column .profile-pic {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  height: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #c1c1c1;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column .theme-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: auto;
  padding-bottom: 2.5em;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column .theme-wrapper .theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 8px;
  border: 2px solid #24292e;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column .theme-wrapper .theme-dot:hover {
  border-width: 5px;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column .theme-wrapper #light-mode {
  background-color: #fff;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column .theme-wrapper #dark-mode {
  background-color: #4b384c;
}

.main-container .section-1 .intro-wrapper .intro-row .left-column .settings-note {
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column {
  display: grid;
  align-content: center;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column .preview-shadow {
  background-color: rgba(56, 61, 63, 0.95);
  width: 21.87rem;
  height: 13.75rem;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  border-radius: 3px;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column .preview {
  width: 21.87rem;
  border: 2px solid #03a062;
  background-color: rgba(75, 79, 84, 0.5);
  padding: 15px;
  text-align: left;
  position: relative;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column .preview .bio,
.main-container .section-1 .intro-wrapper .intro-row .right-column .preview h3 {
  color: #edf1ff;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column .preview .corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #03a062;
  background-color: #03a062;
  position: absolute;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column .preview #corner-tl {
  top: -4px;
  left: -4px;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column .preview #corner-tr {
  top: -4px;
  right: -4px;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column .preview #corner-bl {
  bottom: -4px;
  left: -4px;
}

.main-container .section-1 .intro-wrapper .intro-row .right-column .preview #corner-br {
  bottom: -4px;
  right: -4px;
}

@media screen and (max-width: 768px) {
  .main-container .section-1 .intro-wrapper .intro-row .left-column {
    min-height: 20em;
  }
  .main-container .section-1 .intro-wrapper .intro-row .right-column {
    display: grid;
    align-content: flex-start;
    justify-items: center;
    min-height: 35em;
  }
  .main-container .section-1 .intro-wrapper .intro-row .right-column .preview-shadow {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }
  .main-container .section-1 .intro-wrapper .intro-row .right-column .preview {
    width: 100%;
    background-color: rgba(75, 79, 84, 0.95);
  }
}

.main-container .section-2 {
  background-color: #fff;
  border-bottom: 1px solid #c1c1c1;
  padding: 2rem;
  padding: 0;
}

.main-container .section-3 {
  background-color: #2D3020;
}
